<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= raw(@title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("header-nav-link").click(function(){
        $("dropdown-menu-content").toggle();
    });
});
</script>
  </head>

  <body>
    <div class="header header-logged-in true" role="banner">
      <div class="container clearfix">

        <a class="header-logo-invertocat" href="https://github.com/orgs/github/dashboard" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>


          <div class="site-search repo-scope js-site-search" role="search">
              <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/amosie/Prototyping-app/search" class="js-site-search-form" data-global-search-url="/search" data-repo-search-url="/amosie/Prototyping-app/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <label class="js-chromeless-input-container form-control">
        <div class="scope-badge">This repository</div>
        <input type="text" class="js-site-search-focus js-site-search-field is-clearable chromeless-input" data-hotkey="s" name="q" placeholder="Search" aria-label="Search this repository" data-global-scope-placeholder="Search GitHub" data-repo-scope-placeholder="Search" tabindex="1" autocapitalize="off">
      </label>
    </form>
          </div>

          <ul class="header-nav left" role="navigation">
            <li class="header-nav-item">
              <a href="/pulls" class="js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls">
                Pull requests
    </a>        </li>
            <li class="header-nav-item">
              <a href="/issues" class="js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:issues context:user" data-hotkey="g i" data-selected-links="/issues /issues/assigned /issues/mentioned /issues">
                Issues
    </a>        </li>
              <li class="header-nav-item">
                <a class="header-nav-link" href="https://gist.github.com/" data-ga-click="Header, go to gist, text:gist">Gist</a>
              </li>
          </ul>


    <ul class="header-nav user-nav right" id="user-links">
      <li class="header-nav-item">
          <span class="js-socket-channel js-updatable-content" data-channel="notification-changed:amosie" data-url="/notifications/header">
          <a href="/notifications" aria-label="You have unread notifications" class="header-nav-link notification-indicator tooltipped tooltipped-s" data-ga-click="Header, go to notifications, icon:unread" data-hotkey="g n">
              <span class="mail-status unread"></span>
              <span class="octicon octicon-bell"></span>
    </a>  </span>

      </li>

      <li class="header-nav-item dropdown js-menu-container">
        <a class="header-nav-link tooltipped tooltipped-s js-menu-target" href="/new" aria-label="Create new…" data-ga-click="Header, create new, icon:add">
          <span class="octicon octicon-plus left"></span>
          <span class="dropdown-caret"></span>
        </a>

        <div class="dropdown-menu-content js-menu-content">
          <ul class="dropdown-menu dropdown-menu-sw">

    <a class="dropdown-item" href="/new" data-ga-click="Header, create new repository">
      New repository
    </a>

      <a class="dropdown-item" href="https://gist.github.com/" data-ga-click="Header, create new gist">
        New gist
      </a>

      <a class="dropdown-item" href="/organizations/new" data-ga-click="Header, create new organization">
        New organization
      </a>



      <div class="dropdown-divider"></div>
      <div class="dropdown-header">
        <span title="amosie/Prototyping-app">This repository</span>
      </div>
        <a class="dropdown-item" href="/amosie/Prototyping-app/settings/collaboration" data-ga-click="Header, create new collaborator">
          New collaborator
        </a>

          </ul>
        </div>
      </li>

      <li class="header-nav-item dropdown js-menu-container">
        <a class="header-nav-link name tooltipped tooltipped-s js-menu-target" href="/amosie" aria-label="View profile and more" data-ga-click="Header, show menu, icon:avatar">
          <img alt="@amosie" class="avatar" height="20" src="https://avatars0.githubusercontent.com/u/2235325?v=3&amp;s=40" width="20">
          <span class="dropdown-caret"></span>
        </a>

        <div class="dropdown-menu-content js-menu-content">
          <div class="dropdown-menu dropdown-menu-sw">
            <div class="dropdown-header header-nav-current-user css-truncate">
              Signed in as <strong class="css-truncate-target">amosie</strong>
            </div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/amosie" data-ga-click="Header, go to profile, text:your profile">
              Your profile
            </a>
            <a class="dropdown-item" href="/stars" data-ga-click="Header, go to starred repos, text:your stars">
              Your stars
            </a>
            <a class="dropdown-item" href="/explore" data-ga-click="Header, go to explore, text:explore">
              Explore
            </a>
            <a class="dropdown-item" href="https://help.github.com" data-ga-click="Header, go to help, text:help">
              Help
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/settings/profile" data-ga-click="Header, go to settings, icon:settings">
              Settings
            </a>

            <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/logout" class="logout-form" data-form-nonce="a612db23f2f6c84490f51031234286c8a8722dd4" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="iSKvUoyuN2NE+ZaMWJen2hSzgfWhq3usMY42211v+659JMKAqu00NcEOurjZbXW6MTv+bUvXQ9LgHQV0MXiEoA=="></div>
              <button class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout">
                Sign out
              </button>
    </form>      </div>
        </div>
      </li>
    </ul>



      </div>
    </div>

<div id="wrapper">

<main id="content" role="main">

<%= yield %>

</main>
</div>
<div class="container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
          <li><a href="#">Report a bug</a></li>
        <li><a href="https://status.github.com/">Status</a></li>
      <li><a href="https://developer.github.com">API</a></li>
      <li><a href="https://training.github.com">Training</a></li>
      <li><a href="https://shop.github.com">Shop</a></li>
        <li><a href="https://github.com/blog">Blog</a></li>
        <li><a href="https://github.com/about">About</a></li>
        <li><a href="https://github.com/pricing">Pricing</a></li>
    </ul>

    <a href="https://github.com" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
</a>
    <ul class="site-footer-links">
      <li>© 2015 <span title="1.44271s from github-fe143-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
        <li><a href="https://github.com/site/terms">Terms</a></li>
        <li><a href="https://github.com/site/privacy">Privacy</a></li>
        <li><a href="https://github.com/security">Security</a></li>
        <li><a href="https://github.com/contact">Contact</a></li>
        <li><a href="https://help.github.com">Help</a></li>
    </ul>
  </div>
</div>
</body>
</html>
